<h1>Competitions</h1>
<div class="container">
  <%= link_to 'New Competition', new_competition_path, class: "btn btn-primary mb-3" %>
  <div class="row">
    <% @competitions.each do |competition| %>
      <div class="col-md-4">
        <div class="card card-custom">
          <div class="card-body">
            <h5 class="card-title"><%= link_to competition.title, competition %></h5>
            <p class="card-text"><%= competition.description %></p>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
